{% extends 'portfolio/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-success">
                    <div class="card-body">
                        <p class="card-text display-4">I’m a web developer in Bangladesh, who loves clean, simple & unique design. 
                        I want to deliver my best within web designing and development area where performance is 
                        measured through achievements, because web is my way & programming is my passion.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
